
$igv-ui-popover-border-width: 1px;
$igv-ui-popover-header-height: 24px;
$igv-ui-popover-content-height: calc(100% - #{$igv-ui-popover-header-height} - 2 * #{$igv-ui-popover-border-width});

// popover
.igv-ui-popover {

    resize: horizontal;
    overflow-x: auto;

    position: absolute;
    z-index: 2048;

    border-color: $igv-trackgear-grey-color;
    border-radius: $igv-trackgear-popover-border-radius;
    border-style: solid;
    border-width: $igv-ui-popover-border-width;

    font-family: $igv-default-font-face;
    font-size: small;

    background-color: lightpink;

    // header (drag handle)
    >div:first-child {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;

        width: 100%;
        height: 24px;

        cursor: move;

        border-top-left-radius: $igv-trackgear-popover-border-radius;
        border-top-right-radius: $igv-trackgear-popover-border-radius;
        border-bottom-color: $igv-trackgear-grey-color;
        border-bottom-style: solid;
        border-bottom-width: thin;

        background-color: #eee;

        // close button
        div {
            margin-right: 4px;
            height: 12px;
            width: 12px;
            color: $igv-trackgear-grey-color;
        }

        div:hover {
            cursor: pointer;
            color: #444;
        }


    }

    // content
    >div:last-child {

        overflow-x: hidden;
        overflow-y: auto;

        width: 100%;
        //height: $igv-ui-popover-content-height;
        height: auto;

        background-color: lightcyan;

        // row
        >div {
            width: 100%;
            height: 32px;
            background-color: white;
        }

        hr {
            width: 100%;
        }

    }

}


.DEPRICATED_igv-ui-popover {

    resize: both;
    overflow-x: auto;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 2048;

    border-color: orangered;
    border-radius: $igv-trackgear-popover-border-radius;
    border-style: solid;
    border-width: thin;

    font-family: $igv-default-font-face;
    font-size: 16px;

    background-color: lightgreen;

    // header
    >div:first-child {

        width: 100%;
        min-height: 24px;

        cursor: move;

        border-top-left-radius: $igv-trackgear-popover-border-radius;
        border-top-right-radius: $igv-trackgear-popover-border-radius;
        border-bottom-color: $igv-trackgear-grey-color;
        border-bottom-style: solid;
        border-bottom-width: thin;

        background-color: #eee;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;

        // close button container
        div {
            margin-right: 4px;
            height: 12px;
            width: 12px;
            color: $igv-trackgear-grey-color;
        }

        div:hover {
            cursor: pointer;
            color: #444;
        }

    }

    // content
    >div:last-child {

        overflow-y: auto;
        background-color: pink;

        // row
        >div {
            height: 32px;
            width: 100%;

            //margin-top: 2px;
            //margin-bottom: 2px;
            //margin-left: 4px;

            background-color: white;

            //display: flex;
            //flex-direction: row;
            //flex-wrap: nowrap;
            //justify-content: flex-start;
            //align-items: center;

            //>div:first-child {
            //    font-weight: bold;
            //    min-width: 128px;
            //    background-color: lightcyan;
            //}

        }

        >div:hover {
            background-color: #efefef;
        }

        hr {
            width: 100%;
        }

    }

}

::-webkit-resizer {
    border: 2px solid greenyellow;
    background: orangered;
}
