
// popover
.igv-ui-popover {

    box-sizing: content-box;

    position: fixed;
    top: 0;
    left: 0;

    border-color: $igv-trackgear-grey-color;
    border-radius: $igv-trackgear-popover-border-radius;
    border-style: solid;
    border-width: thin;

    font-family: $igv-default-font-face;
    font-size: small;
    font-weight: 400;

    z-index: 2048;

    background-color: white;
}

.igv-ui-popover-header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 24px;

    cursor: move;

    border-top-left-radius: $igv-trackgear-popover-border-radius;
    border-top-right-radius: $igv-trackgear-popover-border-radius;
    border-bottom-color: $igv-trackgear-grey-color;
    border-bottom-style: solid;
    border-bottom-width: thin;

    background-color: #eee;

    // close button container
    div {
        margin-right: 4px;
        height: 12px;
        width: 12px;
        color: $igv-trackgear-grey-color;
    }

    div:hover {
        cursor: pointer;
        color: #444;
    }


}

.igv-ui-popover-track-popup-content {
    position: relative;
    top: 0;
    left: 0;
    max-height: 384px;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: white;

    div {
        margin-left: 4px;
        background-color: white;
    }
    div:hover {
        cursor: pointer;
        background-color: #efefef;
    }

}

.igv-ui-popover-name-value {
    cursor: default;
    text-wrap: none;
    white-space:nowrap;
    max-width: 384px;
}

.igv-ui-popover-name {
    font-weight: bold;
    padding-right: 4px;
    float: left;
}

.igv-ui-popover-value {
    padding-left: 4px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width:256px;
    display:inline-block;
}
