
$igv-ui-popover-border-width: 1px;
$igv-ui-popover-header-height: 24px;
$igv-ui-popover-content-height: calc(100% - #{$igv-ui-popover-header-height} - 2 * #{$igv-ui-popover-border-width});

// popover
.igv-ui-popover {

    cursor: default;

    position: absolute;
    z-index: 2048;

    border-color: $igv-trackgear-grey-color;
    border-radius: $igv-trackgear-popover-border-radius;
    border-style: solid;
    border-width: $igv-ui-popover-border-width;

    font-family: $igv-default-font-face;
    font-size: small;

    background-color: white;

    // header (drag handle)
    >div:first-child {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;

        width: 100%;
        height: 24px;

        cursor: move;

        border-top-left-radius: $igv-trackgear-popover-border-radius;
        border-top-right-radius: $igv-trackgear-popover-border-radius;
        border-bottom-color: $igv-trackgear-grey-color;
        border-bottom-style: solid;
        border-bottom-width: thin;

        background-color: #eee;

        // close button
        >div {
            margin-right: 4px;
            height: 12px;
            width: 12px;
            color: $igv-trackgear-grey-color;
        }

        >div:hover {
            color: #444;
        }
    }

    // content
    >div:last-child {

        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        overflow-y: auto;

        //width: 100%;
        //height: $igv-ui-popover-content-height;

        max-width: 200px;
        max-height: 400px;

        background-color: white;

        // row
        >div {
            -webkit-user-select: all; /* Chrome/Safari */
            -moz-user-select: all; /* Firefox */

            width: 100%;
            height: 24px;
            background-color: white;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;

            >div{
                margin-left: 4px;
                >span {
                    font-weight: bolder;
                }
            }
        }

        hr {
            width: 100%;
        }
    }
}
