$igv-ui-default-font-face: 'Open Sans', sans-serif;
$igv-ui-trackgear-grey-color: #7F7F7F;
$igv-ui-light-grey-color: #bfbfbf;
$igv-ui-grey-color: #7F7F7F;
$igv-ui-dark-grey-color: #373737;
$igv-ui-trackgear-popover-border-radius: 4px;

@import "igv-alert-dialog";
